@use "./colors" as *;
@use "./breakpoints" as *;

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Titillum";
  src: url("../assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}

// Declare font with fallback options.

$primary-font: "Roboto", "Verdana", sans-serif;

// Creates fonts with a mobile first context.

@mixin button-text($color: $primary-color-dark) {
  font-family: $primary-font;
  color: $color;
  font-weight: 400;
  font-size: 1.8rem;
}

@mixin display-text($color: $primary-color-dark) {
  font-family: $primary-font;
  color: $color;
  font-weight: 600;
  font-size: 1.8rem;
}
